<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324925880954-ha8d589qhdamvh3p3oodu65n4ldeebgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324925880954-ha8d589qhdamvh3p3oodu65n4ldeebgk</string>
	<key>API_KEY</key>
	<string>GOOGLE_CLOUD_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>324925880954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mapapp</string>
	<key>PROJECT_ID</key>
	<string>newproject123123-dc2d8</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject123123-dc2d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324925880954:ios:b07ef68ae83cd6a3dad9c3</string>
	<key>DATABASE_URL</key>
	<string>https://newproject123123-dc2d8.firebaseio.com</string>
</dict>
</plist>
